<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>奔驰</string>
		<key>image</key>
		<string>benchi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TESLA</string>
		<key>image</key>
		<string>TESLA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scion</string>
		<key>image</key>
		<string>Scion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gumpert</string>
		<key>image</key>
		<string>Gumpert</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GMC</string>
		<key>image</key>
		<string>GMC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dacia</string>
		<key>image</key>
		<string>Dacia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>众泰</string>
		<key>image</key>
		<string>zhongtai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中兴</string>
		<key>image</key>
		<string>zhongxing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>之诺</string>
		<key>image</key>
		<string>zhinuo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长丰猎豹</string>
		<key>image</key>
		<string>CFJB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长安</string>
		<key>image</key>
		<string>changan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>永源</string>
		<key>image</key>
		<string>yongyuan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西雅特</string>
		<key>image</key>
		<string>xiyate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>威兹曼</string>
		<key>image</key>
		<string>weiziman</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腾势</string>
		<key>image</key>
		<string>tengshi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>思铭</string>
		<key>image</key>
		<string>siming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双龙</string>
		<key>image</key>
		<string>shuanglong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萨博</string>
		<key>image</key>
		<string>sabo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>全球鹰</string>
		<key>image</key>
		<string>quanqiuying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>起亚</string>
		<key>image</key>
		<string>qiya</string>
	</dict>
	<dict>
		<key>name</key>
		<string>纳智捷</string>
		<key>image</key>
		<string>nazhijie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>迈凯伦</string>
		<key>image</key>
		<string>maikailun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>迈巴赫</string>
		<key>image</key>
		<string>maibahe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玛莎拉蒂</string>
		<key>image</key>
		<string>mashaladi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>路斯特</string>
		<key>image</key>
		<string>lusite</string>
	</dict>
	<dict>
		<key>name</key>
		<string>路虎</string>
		<key>image</key>
		<string>luhu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>力帆</string>
		<key>image</key>
		<string>lifan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>理念</string>
		<key>image</key>
		<string>linian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>劳斯莱斯</string>
		<key>image</key>
		<string>laosilaisi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>劳恩斯</string>
		<key>image</key>
		<string>laoensi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兰博基尼</string>
		<key>image</key>
		<string>lanbojini</string>
	</dict>
	<dict>
		<key>name</key>
		<string>克莱斯勒</string>
		<key>image</key>
		<string>kelaisile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凯佰赫</string>
		<key>image</key>
		<string>kaibaihe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>开瑞</string>
		<key>image</key>
		<string>kairui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卡尔森</string>
		<key>image</key>
		<string>kaersen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金杯</string>
		<key>image</key>
		<string>jinbei</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄海</string>
		<key>image</key>
		<string>huanghai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华泰</string>
		<key>image</key>
		<string>huatai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华骐</string>
		<key>image</key>
		<string>huaqi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>华普</string>
		<key>image</key>
		<string>huapu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>恒天汽车</string>
		<key>image</key>
		<string>HTQC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>悍马</string>
		<key>image</key>
		<string>hanma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海格</string>
		<key>image</key>
		<string>haige</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈弗红标</string>
		<key>image</key>
		<string>hafuhongbiao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广汽日野</string>
		<key>image</key>
		<string>guangqiriye</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广汽传祺</string>
		<key>image</key>
		<string>guangqichuaqni</string>
	</dict>
	<dict>
		<key>name</key>
		<string>观致</string>
		<key>image</key>
		<string>guanzhi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福田</string>
		<key>image</key>
		<string>futian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福特野马</string>
		<key>image</key>
		<string>futeyema</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福汽新龙马</string>
		<key>image</key>
		<string>fuqixinyema</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福迪</string>
		<key>image</key>
		<string>fudi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菲亚特</string>
		<key>image</key>
		<string>feiyate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>东南</string>
		<key>image</key>
		<string>dongnan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>帝豪</string>
		<key>image</key>
		<string>dihao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大发</string>
		<key>image</key>
		<string>dafa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>川汽野马</string>
		<key>image</key>
		<string>chuanqiyema</string>
	</dict>
	<dict>
		<key>name</key>
		<string>布加迪</string>
		<key>image</key>
		<string>bujiadi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宾利</string>
		<key>image</key>
		<string>binli</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北汽威旺</string>
		<key>image</key>
		<string>beiqiweiwang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保时捷</string>
		<key>image</key>
		<string>baoshijie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝沃</string>
		<key>image</key>
		<string>baowo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝骏</string>
		<key>image</key>
		<string>baojun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巴博斯</string>
		<key>image</key>
		<string>babosi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿斯顿·马丁</string>
		<key>image</key>
		<string>asidunmading</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿尔法·罗密欧</string>
		<key>image</key>
		<string>aerfaluomiou</string>
	</dict>
	<dict>
		<key>name</key>
		<string>东风小康</string>
		<key>image</key>
		<string>dongfengxiaokang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DS</string>
		<key>image</key>
		<string>DS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北京汽车</string>
		<key>image</key>
		<string>beijingqiche</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝马</string>
		<key>image</key>
		<string>baoma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jeep</string>
		<key>image</key>
		<string>Jeep</string>
	</dict>
	<dict>
		<key>name</key>
		<string>标致</string>
		<key>image</key>
		<string>biaozhi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪铁龙</string>
		<key>image</key>
		<string>xuetielong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>丰田</string>
		<key>image</key>
		<string>fengtian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大众</string>
		<key>image</key>
		<string>dazhong</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aodi</string>
		<key>image</key>
		<string>aodi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>斯柯达</string>
		<key>image</key>
		<string>sikeda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>现代</string>
		<key>image</key>
		<string>xiandai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比亚迪</string>
		<key>image</key>
		<string>biyadi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铃木</string>
		<key>image</key>
		<string>lingmu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福特</string>
		<key>image</key>
		<string>fute</string>
	</dict>
	<dict>
		<key>name</key>
		<string>马自达</string>
		<key>image</key>
		<string>mazida</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沃尔沃</string>
		<key>image</key>
		<string>woerwo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长城</string>
		<key>image</key>
		<string>changcheng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三菱</string>
		<key>image</key>
		<string>sanling</string>
	</dict>
	<dict>
		<key>name</key>
		<string>本田</string>
		<key>image</key>
		<string>bentian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日产</string>
		<key>image</key>
		<string>richan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海马</string>
		<key>image</key>
		<string>haima</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吉利汽车</string>
		<key>image</key>
		<string>jiliqiche</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江淮</string>
		<key>image</key>
		<string>jianghuai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奇瑞</string>
		<key>image</key>
		<string>qirui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五菱</string>
		<key>image</key>
		<string>wuling</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪佛兰</string>
		<key>image</key>
		<string>xuefulan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双环</string>
		<key>image</key>
		<string>shuanghuan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奔腾</string>
		<key>image</key>
		<string>benteng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中华</string>
		<key>image</key>
		<string>zhonghua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荣威</string>
		<key>image</key>
		<string>rongwei</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MG</string>
		<key>image</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MINI</string>
		<key>image</key>
		<string>MINI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>讴歌</string>
		<key>image</key>
		<string>ouge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>smart</string>
		<key>image</key>
		<string>smart</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雷克萨斯</string>
		<key>image</key>
		<string>leikesasi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林肯</string>
		<key>image</key>
		<string>linken</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雷诺</string>
		<key>image</key>
		<string>leinuo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英菲尼迪</string>
		<key>image</key>
		<string>yingfeinidi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欧宝</string>
		<key>image</key>
		<string>oubao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凯迪拉克</string>
		<key>image</key>
		<string>kaidilake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>斯巴鲁</string>
		<key>image</key>
		<string>sibalu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>启辰</string>
		<key>image</key>
		<string>qichen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广汽</string>
		<key>image</key>
		<string>guangqi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瑞麟</string>
		<key>image</key>
		<string>ruilin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长安轿车</string>
		<key>image</key>
		<string>changanjiaoche</string>
	</dict>
	<dict>
		<key>name</key>
		<string>别克</string>
		<key>image</key>
		<string>bieke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>道奇</string>
		<key>image</key>
		<string>daoqi</string>
	</dict>
</array>
</plist>
